body{
    text-align: center;
    background-color: rgb(254, 252, 250);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(187, 83, 151);
    letter-spacing: 15px;
    font-weight: 100;
    font-size: 35px;
}

.img-logo{
    width: 420px;
    height: auto;
}

.subtitulos{
    color: rgb(187, 83, 151);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
    letter-spacing: 6px;
}

p {
    color: rgb(59, 99, 166);
    text-align: start;
    font-size: 15.85px;
}

.pop {
    float: right;
    width: 390px;
    height: auto;
    margin-left: 10px;
}

.img-caribe {
    float: left;
    width: 360px;
    height:auto;
    margin-right: 10px;
}

.img-kingdom {
    float: right;
    width: 355px;
    height: auto;
    margin-left: 10px;
}


.img-MM{
    width: 100%;
}